html, body{
    max-width: 100%;
}
body{
    background-image: url("https://thumbs.dreamstime.com/b/aesthetic-shadow-palm-leaves-pastel-green-background-advertising-your-product-creative-copy-space-design-abstract-236081839.jpg");
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: auto;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    

}

label{
    margin-top: 2%;
}

.big-p{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-info{
    background-color: #BEA29E;
    height: 40%;
    text-align: center;
    width: 40%;
}

.product-view{
    background-color: #FAFAFA;
    height: 40%;
    text-align: center;
    width: 40%;
}

.serum{
    max-width: 100%;
    height: 15%;
    width: 15%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.visa, .mastercard, .amex{
    max-width: 100%;
    height: 15%;
    width: 15%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

#btn{
    margin-top: 3%;
    margin-bottom: 3%;

}